<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"/> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"/> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"/> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Untitled Document</title>
<link th:href="@{vote/css/boilerplate.css}" href="css/boilerplate.css" rel="stylesheet" type="text/css"/>
<link th:href="@{vote/css/style.css}" href="css/style.css" rel="stylesheet" type="text/css"/>
<link th:href="@{vote/css/sweet-alert.css}" href="css/sweet-alert.css" rel="stylesheet" type="text/css"/>
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script th:src="@{vote/js/respond.min.js}" src="js/respond.min.js"></script>
<script th:src="@{vote/js/sweet-alert.min.js}" src="js/sweet-alert.min.js"></script>
</head>
<body style="background:#c30d23">

<div id="audio_btn" class="video_exist off play_yinfu" style="display: block;">
    <div id="yinfu" class="rotate"></div>
    <audio loop="" th:src="@{vote/music/bg_21.mp3}" src="music/bg_2.mp3" id="media" autoplay="" preload="preload"></audio>
</div>

<div id="content_title1" class="fluid clearfix" >
    <div class="content_title">
    	所有比赛
    </div>
</div>

<div class="clearfix"></div>

<div class="gridContainer clearfix">
      <div id="search"  class="fluid bounceIn animated" >
      	<form action="">
        <input type="text" placeholder="输入您想观看的比赛名称" class="search_text"/><button type="submit" class="search">搜索</button>
        </form>
          <a id="chuizi" class="btn to t1" style="display: none"></a>
      </div>
</div>


<div id="content_list" th:each="sessions:${sessions}" class="gridContainer clearfix bounceInDown animated">
	<div class="content_list_li">
    	<div class="content_list_li_left" th:style="'backrgound:'+'url(vote/images/timg.jpg)'">
        	<div id="addressimg">
                <!--<img th:src="@{vote/images/timg.jpg}" style="width: 60%;height: 100%;position:absolute;z-index:1;" src="" alt=""/>-->
            <label style="font-size: 20px;">地点:</label>
            <br/>
            <strong th:text="${sessions.infomation}"></strong>
        	<!--<span><img th:src="${sessions.images}" src="images/img.jpg" /></span>-->
            </div>
        </div>
        <div class="content_list_li_right">
        	<div class="content_list_li_right_li"><strong>编号：</strong><span th:text="${sessions.id}"></span></div>
            <div class="content_list_li_right_li"><strong>赛名：</strong><span th:text="${sessions.title}"></span></div>
            <div class="content_list_li_right_li"><strong>状态：</strong><span th:text="${state}" th:if="${sessions.state} eq 1"></span></div>
            <div class="content_list_li_right_li_a"><a class="btn to off1" th:href="@{/sessionnogoingfight?}+'sessionid='+${sessions.id}" href="content.html">查看</a></div>
            <!--<div class="content_list_li_right_li_a"><a class="btn to on" th:href="@{sessionnogoingfight}" href="content.html">已看过</a></div>-->


        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="clearfix" style="height:2em;"></div>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script th:inline="javascript" type="text/javascript">
    $(function () {
        //
        //
        // if (ti!=null){
        //     alert("这场比赛没得对战开启")
        // }else {
        // }
    })
</script>
</body>
</html>
