<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<title>登陆丨在线投票系统</title>
<link rel="stylesheet" th:href="@{login/css/style.css}" href="css/style.css"/>
<body>

<div class="login-container">
    <h1>在线投票系统</h1>

    <div class="connect">
        <p>你投，我投，他也投</p>
    </div>

    <form th:action="@{userlogin}" action="" method="post" id="loginForm">
        <div>
            <input type="text" name="username" class="username" placeholder="用户名" autocomplete="off"/>
        </div>
        <div>
            <input type="password" name="password" class="password" placeholder="密码" oncontextmenu="return false" onpaste="return false" />
        </div>

        <span style="color: red" th:text="${message}"></span>
        <button id="submit" type="submit">登 陆</button>
    </form>

    <a th:href="@{register}" href="register.html">
        <button type="button" class="register-tis">还有没有账号？</button>
    </a>

</div>

</body>
<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<script th:src="@{login/js/common.js}" src="js/common.js"></script>
<!--背景图片自动更换-->
<script th:src="@{login/js/supersized.3.2.7.min.js}" src="js/supersized.3.2.7.min.js"></script>
<script th:src="@{login/js/supersized-init.js}" src="js/supersized-init.js"></script>
<!--表单验证-->
<script th:src="@{login/js/jquery.validate.min.js?var1.14.0}" src="js/jquery.validate.min.js?var1.14.0"></script>
</html>